swagger: '2.0'
schemes:
  - https
host: app4.dostaevsky.ru:10420 # Replace with your hostname. You can also specify port e.g. example.com:777
basePath: /dsttestuser/WS/DST/ # Replace with your basePath. Note: SHOULD begin with '/'.
info:
  description: |
    Это документация для API проекта сайта `Достаевский` и системой хранения `ERP`.
    # Общая информация
    * Хост: https://app4.dostaevsky.ru:10420/dsttestuser/WS/DST/
    * Логин: enter_your_login
    * Пароль: enter_your_pass
    * Код брэнда: ДОСТАЕВСКИЙ
    
    * Общение с сервером ERP происходит через SOAP протокол.

  version: '1.0.0'
  title: Dostaevsky

  termsOfService: 'https://example.com/terms/' # [Optional] Replace with an URL to your ToS
  contact:
    email: contact@example.com # [Optional] Replace with your contact email
    url: 'http://example.com/contact' # [Optional] Replace with link to your contact form
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://apis.guru/openapi-template/logo.png'
externalDocs:
  description: Find out how to create Github repo for your OpenAPI spec.
  url: 'https://github.com/Rebilly/generator-openapi-repo'
produces:
  - application/text
consumes:
  - application/text
tags:
  - name: Города
    description: Получение городов
  - name: Категории
    description: Получение категорий

#securityDefinitions:
  #api_key:
    #type: apiKey
    #in: header
    #name: X-Auth-token

paths:
  '/Page/SalesCities':
    post:
      summary: Получить список городов
      description: Используется метод `ReadMultiple`
      tags:
        - Города
      #security:
        #- api_key: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CitiesBody'
      responses:
        '200':
          description: Список городов
          schema:
            $ref: '#/definitions/CitiesListResponse'
        default:
          description: Неожиданная ошибка
          schema:
            $ref: '#/definitions/BaseResponse'

  '/Page/SITEProductGroup':
    post:
      summary: Получить список категорий
      description: |
       Используется метод `ReadMultiple`
       
       Уникальный ID для целей импорта формируется из комбинации `Item_Category_Code` + `Code`
      tags:
        - Категории
      #security:
        #- api_key: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CategoriesBody'
      responses:
        '200':
          description: Список категорий
          schema:
            $ref: '#/definitions/CategoriesListResponse'
        default:
          description: Неожиданная ошибка
          schema:
            $ref: '#/definitions/BaseResponse'
    
  '/Page/SITEProductSubGroup':
    post:
      summary: Получить список подкатегорий
      description:  |
        Используется метод `ReadMultiple`
        
        Уникальный ID для целей импорта формируется из комбинации `Item_Category_Code` + `Product_Group_Code` + `Code`
      tags:
        - Подкатегории
      #security:
        #- api_key: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CategoriesBody'
      responses:
        '200':
          description: Список подкатегорий
          schema:
            $ref: '#/definitions/SubcategoriesListResponse'
        default:
          description: Неожиданная ошибка
          schema:
            $ref: '#/definitions/BaseResponse'


  '/Page/SiteItemPrice':
    post:
      summary: Получить список товаров
      description: |
       Используется метод `ReadMultiple`
       
       Уникальный ID для целей импорта формируется из комбинации `Item_No` + `City_Code` + `Brand_Code` + `Customer_No`
      tags:
        - Товары
      #security:
        #- api_key: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ItemsBody'
      responses:
        '200':
          description: Список товаров
          schema:
            $ref: '#/definitions/ItemsListResponse'
        default:
          description: Неожиданная ошибка
          schema:
            $ref: '#/definitions/BaseResponse'

  '/Page/Item':
    post:
      summary: Получить список состава товаров
      description: |
       Используется метод `ReadMultiple`
       
       Уникальный ID для целей импорта - поле `No`
      tags:
        - Товары
      #security:
        #- api_key: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ItemsCompositionBody'
      responses:
        '200':
          description: Список состава товаров
          schema:
            $ref: '#/definitions/ItemsCompositionListResponse'
        default:
          description: Неожиданная ошибка
          schema:
            $ref: '#/definitions/BaseResponse'

  '/Page/BOMComp':
    post:
      summary: Получить список ингредиентов товаров
      description: |
       Используется метод `ReadMultiple`
       
       Уникальный ID для целей импорта формируется из комбинации `Parent_Item_No` + `No`
      tags:
        - Товары
      #security:
        #- api_key: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ItemsIngredientsBody'
      responses:
        '200':
          description: Список ингредиентов товаров
          schema:
            $ref: '#/definitions/ItemsIngredientsListResponse'
        default:
          description: Неожиданная ошибка
          schema:
            $ref: '#/definitions/BaseResponse'


  '/Page/TableLabels':
    post:
      summary: Получить список тегов товаров
      description: |
       Используется метод `ReadMultiple`
       
       Уникальный ID для целей импорта формируется из комбинации `TableID` + `Code` + `Label`
      tags:
        - Товары
      #security:
        #- api_key: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ItemsTagsBody'
      responses:
        '200':
          description: Список тегов товаров
          schema:
            $ref: '#/definitions/ItemsTagsListResponse'
        default:
          description: Неожиданная ошибка
          schema:
            $ref: '#/definitions/BaseResponse'

  '/Page/ProductGroupRelationWithNumber':
    post:
      summary: Получить список топпингов товаров
      description: |
       Используется метод `ReadMultiple`
       
       Уникальный ID для целей импорта `LineNo`
      tags:
        - Товары
      #security:
        #- api_key: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ItemsToppingsBody'
      responses:
        '200':
          description: Список топпингов товаров
          schema:
            $ref: '#/definitions/ItemsToppingsListResponse'
        default:
          description: Неожиданная ошибка
          schema:
            $ref: '#/definitions/BaseResponse'

  '/Page/SitePreOrderHeader':
    post:
      summary: Получить заказы пользователя по его телефону
      description: |
       Используется метод `ReadMultiple`
      tags:
        - Пользователь
      #security:
        #- api_key: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SitePreOrderHeaderGetInfoBody'
      responses:
        '200':
          description: Результат
          schema:
            $ref: '#/definitions/SitePreOrderHeaderResponse'
        default:
          description: Неожиданная ошибка
          schema:
            $ref: '#/definitions/BaseResponse'

  '/Page/SitePreOrderHeader.':
    post:
      summary: Передача заголовка заказа
      description: |
       `Заметка`: используется URL /Page/SitePreOrderHeader без точки в конце
       
       Используется метод `Create`
      tags:
        - Заказы
      #security:
        #- api_key: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SitePreOrderHeaderBody'
      responses:
        '200':
          description: Результат
          schema:
            $ref: '#/definitions/SitePreOrderHeaderResponse'
        default:
          description: Неожиданная ошибка
          schema:
            $ref: '#/definitions/BaseResponse'

  '/Page/SitePreOrderLines':
    post:
      summary: Передача строк(товаров) заказа
      description: |
       Используется метод `CreateMultiple`
      tags:
        - Заказы
      #security:
        #- api_key: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SitePreOrderLinesListBody'
      responses:
        '200':
          description: Результат
          schema:
            $ref: '#/definitions/SitePreOrderLinesListResponse'
        default:
          description: Неожиданная ошибка
          schema:
            $ref: '#/definitions/BaseResponse'

  '/Page/SitePreOrderLineComponents':
    post:
      summary: Передача компонентов строк(товаров) заказа
      description: |
       Используется метод `CreateMultiple`
      tags:
        - Заказы
      #security:
        #- api_key: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SitePreOrderLineComponentsListBody'
      responses:
        '200':
          description: Результат
          schema:
            $ref: '#/definitions/SitePreOrderLineComponentsListResponse'
        default:
          description: Неожиданная ошибка
          schema:
            $ref: '#/definitions/BaseResponse'

  '/Page/SitePreOrderLineComponents.':
    post:
      summary: Получение компонентов строк(товаров) заказа
      description: |
       `Заметка`: используется URL /Page/SitePreOrderLineComponents без точки в конце
       
       Используется метод `CreateMultiple`
      tags:
        - Заказы
      #security:
        #- api_key: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SitePreOrderLineComponentsReadMultipleBody'
      responses:
        '200':
          description: Результат
          schema:
            $ref: '#/definitions/SitePreOrderLineComponentsListBody'
        default:
          description: Неожиданная ошибка
          schema:
            $ref: '#/definitions/BaseResponse'

  '/Page/SitePreOrderLines.':
    post:
      summary: Получение строк(товаров) заказа
      description: |
       `Заметка`: используется URL /Page/SitePreOrderLines без точки в конце
       
       Используется метод `ReadMultiple`
      tags:
        - Заказы
      #security:
        #- api_key: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SitePreOrderLinesBody'
      responses:
        '200':
          description: Список тегов товаров
          schema:
            $ref: '#/definitions/SitePreOrderLinesResponse'
        default:
          description: Неожиданная ошибка
          schema:
            $ref: '#/definitions/BaseResponse'

  '/Page/SiteOrderComments':
    post:
      summary: Оценить заказ
      description: |
       Используется метод `Create`
      tags:
        - Заказы
      #security:
        #- api_key: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SiteOrderCommentsBody'
      responses:
        '200':
          description: Результат
          schema:
            $ref: '#/definitions/SiteOrderCommentsResponse'
        default:
          description: Неожиданная ошибка
          schema:
            $ref: '#/definitions/BaseResponse'

  '/Codeunit/WebServUtils':
    post:
      summary: Получить картинку сущности
      description: Используется метод `LoadImage`
      tags:
        - Категории
        - Подкатегории
        - Товары
      #security:
        #- api_key: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/LoadImageBody'
      responses:
        '200':
          description: Результат
          schema:
            $ref: '#/definitions/LoadImageBodyResponse'
        default:
          description: Неожиданная ошибка
          schema:
            $ref: '#/definitions/BaseResponse'

  '/Page/SiteCustomerPerson':
    post:
      summary: Получение профиля пользователя по параметру фильтрации
      description: |
       Используется метод `ReadMultiple`
      tags:
        - Пользователь
      #security:
        #- api_key: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SiteCustomerPersonReadMultipleBody'
      responses:
        '200':
          description: Результат
          schema:
            $ref: '#/definitions/SiteCustomerPersonReadMultipleResponse'
        default:
          description: Неожиданная ошибка
          schema:
            $ref: '#/definitions/BaseResponse'

  '/Page/SiteCustomerPerson.':
    post:
      summary: Обновление профиля пользователя
      description: |
       `Заметка`: используется URL /Page/SiteCustomerPerson без точки в конце
       
       Используется метод `Update`
      tags:
        - Пользователь
      #security:
        #- api_key: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SiteCustomerPersonUpdateBody'
      responses:
        '200':
          description: Результат
          schema:
            $ref: '#/definitions/SiteCustomerPersonUpdateBody'
        default:
          description: Неожиданная ошибка
          schema:
            $ref: '#/definitions/BaseResponse'

  '/Page/SiteCustomerPerson..':
    post:
      summary: Создание профиля пользователя
      description: |
       `Заметка`: используется URL /Page/SiteCustomerPerson без точек в конце
       
       Используется метод `Create`
      tags:
        - Пользователь
      #security:
        #- api_key: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SiteCustomerPersonUpdateBody'
      responses:
        '200':
          description: Результат
          schema:
            $ref: '#/definitions/SiteCustomerPersonUpdateBody'
        default:
          description: Неожиданная ошибка
          schema:
            $ref: '#/definitions/BaseResponse'

  '/Page/SiteCustomerPersonInformation':
    post:
      summary: Получение профиля соц. сетей пользователя по номеру телефона
      description: |
       Используется метод `ReadMultiple`
      tags:
        - Пользователь
      #security:
        #- api_key: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SiteCustomerPersonInformationReadMultipleBody'
      responses:
        '200':
          description: Результат
          schema:
            $ref: '#/definitions/SiteCustomerPersonInformationReadMultipleResponse'
        default:
          description: Неожиданная ошибка
          schema:
            $ref: '#/definitions/BaseResponse'

  '/Page/SiteCustomerPersonInformation.':
    post:
      summary: Создание профиля соц. сетей пользователя по номеру телефона
      description: |
       `Заметка`: используется URL /Page/SiteCustomerPersonInformation без точки в конце
       
       Используется метод `CreateMultiple`
      tags:
        - Пользователь
      #security:
        #- api_key: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            #$ref: '#/definitions/SiteCustomerPersonInformationReadMultipleBody'
            $ref: '#/definitions/SiteCustomerPersonInformationCreateMultipleBody'
      responses:
        '200':
          description: Результат
          schema:
            $ref: '#/definitions/SiteCustomerPersonInformationReadMultipleResponse'
        default:
          description: Неожиданная ошибка
          schema:
            $ref: '#/definitions/BaseResponse'

  '/Codeunit/WebServUtils.':
    post:
      summary: Получить информацию о курьере и заказе
      description: |
        `Заметка`: используется URL /Codeunit/WebServUtils без точки в конце
        
        Используется метод `GetOrderDeliveryInfo`
      tags:
        - Курьер
        - Заказы
      #security:
        #- api_key: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetOrderDeliveryInfoBody'
      responses:
        '200':
          description: Результат
          schema:
            $ref: '#/definitions/GetOrderDeliveryInfoBodyResponse'
        default:
          description: Неожиданная ошибка
          schema:
            $ref: '#/definitions/BaseResponse'

definitions:
  #-----------------------------------------------------------------------------
  #
  #   Bodies
  #
  #-----------------------------------------------------------------------------

  CitiesBody:
    type: object
    description: Передаваемый массив
    properties:
      filter:
        $ref: '#/definitions/FilterBody'
      setSize:
        type: integer
        description: Кол-во возвращаемых данных, 0 - без ограничения
        
  CategoriesBody:
    type: object
    description: Передаваемый массив
    properties:
      filter:
        $ref: '#/definitions/SiteProductGroupFilterBody'
      setSize:
        type: integer
        description: Кол-во возвращаемых данных, 0 - без ограничения
  
  ItemsBody:
    type: object
    description: Передаваемый массив
    properties:
      filter:
        type: array
        description: Данные, которые необходимы для фильтрации при обращении к ERP
        items:
          - $ref: '#/definitions/SiteItemPriceFilterItemCategoryCodeBody'
          - $ref: '#/definitions/SiteItemPriceFilterBrandCodeBody'
          - $ref: '#/definitions/SiteItemPriceFilterCustomerNoBody'
      setSize:
        type: integer
        description: Кол-во возвращаемых данных, 0 - без ограничения

  ItemsCompositionBody:
    type: object
    description: Передаваемый массив
    properties:
      filter:
        type: array
        description: Данные, которые необходимы для фильтрации при обращении к ERP
        items:
          $ref: '#/definitions/SiteItemPriceFilterItemCategoryCodeBody'
      setSize:
        type: integer
        description: Кол-во возвращаемых данных, 0 - без ограничения

  ItemsIngredientsBody:
    type: object
    description: Передаваемый массив
    properties:
      filter:
        type: array
        description: Данные, которые необходимы для фильтрации при обращении к ERP
        items:
          $ref: '#/definitions/FilterEmptyBody'
      setSize:
        type: integer
        description: Кол-во возвращаемых данных, 0 - без ограничения

  ItemsToppingsBody:
    type: object
    description: Передаваемый массив
    properties:
      filter:
        type: array
        description: Данные, которые необходимы для фильтрации при обращении к ERP
        items:
          $ref: '#/definitions/ItemToppingsFilterBody'
      setSize:
        type: integer
        description: Кол-во возвращаемых данных, 0 - без ограничения

  ItemsTagsBody:
    type: object
    properties:
      filter:
        $ref: '#/definitions/ItemTagsFilterBody'
      setSize:
        type: integer
        description: Кол-во возвращаемых данных, 0 - без ограничения

  SitePreOrderLinesBody:
    type: object
    properties:
      filter:
        $ref: '#/definitions/SitePreOrderLinesFilterBody'
      setSize:
        type: integer
        description: Кол-во возвращаемых данных, 0 - без ограничения

  FilterEmptyBody:
    type: object
    properties:
      Field:
        type: string
        default: ''
        description: |
          Ключ фильтрации
      Criteria:
        type: string
        default: ''
        description: |
          Значение фильтрации

  SitePreOrderLinesListBody:
    type: object
    description: Передаваемый массив
    properties:
      SitePreOrderLines_List:
        type: array
        items:
          $ref: '#/definitions/SitePreOrderLines_ListModel'

  SitePreOrderLineComponentsReadMultipleBody:
    type: object
    description: Передаваемый массив
    properties:
      filter:
        type: array
        description: Данные, которые необходимы для фильтрации при обращении к ERP
        items:
          - $ref: '#/definitions/SitePreOrderLineComponentsFilterPreOrderNoBody'
          - $ref: '#/definitions/SitePreOrderLineComponentsFilterLineTypeBody'
      setSize:
        type: integer
        description: Кол-во возвращаемых данных, 0 - без ограничения, -N возвратит последние N записей

  SitePreOrderLineComponentsListBody:
    type: object
    description: Передаваемый массив
    properties:
      SitePreOrderLineComponents_List:
        type: object
        description: Передаваемый массив
        properties:
          SitePreOrderLineComponents:
            type: array
            items:
              $ref: '#/definitions/SitePreOrderLineComponentsModel'

  SitePreOrderHeaderBody:
    type: object
    description: Передаваемый массив
    properties:
      SitePreOrderHeader:
        type: array
        items:
          $ref: '#/definitions/SitePreOrderHeaderModel'

  SiteOrderCommentsBody:
    type: object
    description: Передаваемый массив
    properties:
      SiteOrderComments:
        type: array
        items:
          $ref: '#/definitions/SiteOrderCommentsModel'

  SitePreOrderHeaderGetInfoBody:
    type: object
    description: Передаваемый массив
    properties:
      filter:
        type: array
        description: Данные, которые необходимы для фильтрации при обращении к ERP
        items:
          - $ref: '#/definitions/SitePreOrderHeaderFilterPhoneNoBody'
          - $ref: '#/definitions/SiteItemPriceFilterBrandCodeBody'
      setSize:
        type: integer
        description: Кол-во возвращаемых данных, 0 - без ограничения, -N возвратит последние N записей

  SitePreOrderHeaderFilterPhoneNoBody:
    type: object
    properties:
      Field:
        $ref: '#/definitions/PhoneNoFilterKeyModel'
      Criteria:
        type: string
        description: |
          Значение фильтрации
    required:
      - Field
      - Criteria

  SitePreOrderLineComponentsFilterPreOrderNoBody:
    type: object
    properties:
      Field:
        type: string
        default: 'PreOrder_No'
        description: Ключ фильтрации
      Criteria:
        $ref: '#/definitions/ErpOrderNoKeyModel'
    required:
      - Field
      - Criteria
   
   
  SitePreOrderLineComponentsFilterLineTypeBody:
    type: object
    properties:
      Field:
        type: string
        default: 'Line_Type'
        description: Ключ фильтрации
      Criteria:
        $ref: '#/definitions/LineTypeValueModel'
        #type: string
        #description: Значение фильтрации
    required:
      - Field
      - Criteria

  SiteItemPriceFilterItemCategoryCodeBody:
    type: object
    properties:
      Field:
        type: string
        default: 'Item_Category_Code'
        description: |
          Ключ фильтрации
      Criteria:
        type: string
        default: 'ТОВАР'
        description: |
          Значение фильтрации
    required:
      - Field
      - Criteria


  SiteItemPriceFilterBrandCodeBody:
    type: object
    properties:
      Field:
        $ref: '#/definitions/BrandKeyFilterModel'
      Criteria:
        $ref: '#/definitions/BrandValueFilterModel'
    required:
      - Field
      - Criteria

  SiteItemPriceFilterCustomerNoBody:
    type: object
    properties:
      Field:
        type: string
        default: 'Customer_No'
        description: |
          Ключ фильтрации
      Criteria:
        $ref: '#/definitions/CustomerValueModel'

  SiteProductGroupFilterBody:
    type: object
    description: Данные, которые необходимы для фильтрации при обращении к ERP
    properties:
      Field:
        type: string
        default: 'Item_Category_Code'
        description: |
          Ключ фильтрации
      Criteria:
        type: string
        default: 'ТОВАР'
        description: |
          Значение фильтрации


  ItemTagsFilterBody:
    type: object
    description: Данные, которые необходимы для фильтрации при обращении к ERP
    properties:
      Field:
        type: string
        default: 'TableID'
        description: |
          Ключ фильтрации
      Criteria:
        type: string
        default: '27'
        description: |
          Значение фильтрации

  SitePreOrderLinesFilterBody:
    type: object
    description: Данные, которые необходимы для фильтрации при обращении к ERP
    properties:
      Field:
        type: string
        default: 'Document_No'
        description: |
          Ключ фильтрации
      Criteria:
        $ref: '#/definitions/ErpOrderNoKeyModel'
        #type: string
        #description: |
          #Значение фильтрации
    required:
      - Field
      - Criteria

  ItemToppingsFilterBody:
    type: object
    description: Данные, которые необходимы для фильтрации при обращении к ERP
    properties:
      Field:
        $ref: '#/definitions/BrandKeyFilterModel'
      Criteria:
        $ref: '#/definitions/BrandValueFilterModel'

  FilterBody:
    type: object
    description: Данные, которые необходимы для фильтрации при обращении к ERP
    properties:
      Field:
        $ref: '#/definitions/FieldBody'
      Criteria:
        $ref: '#/definitions/CriteriaBody'

  SiteCustomerPersonUpdateBody:
    type: object
    description: Передаваемый массив
    properties:
      SiteCustomerPerson:
        type: array
        items:
          $ref: '#/definitions/SiteCustomerPersonModel'

  #SiteCustomerPersonCreateBody:
    #type: object
    #description: Передаваемый массив
    #properties:
      #SiteCustomerPerson:
        #type: array
        #items:
          #$ref: '#/definitions/SiteCustomerPersonModel'

  SiteCustomerPersonReadMultipleBody:
    type: object
    description: Передаваемый массив
    properties:
      filter:
        type: array
        description: Данные, которые необходимы для фильтрации при обращении к ERP
        items:
          $ref: '#/definitions/SiteCustomerPersonFilterMultipleBody'
      setSize:
        type: integer
        default: 1
        description: Кол-во возвращаемых данных, 0 - без ограничения, -N возвратит последние N записей

  SiteCustomerPersonFilterMultipleBody:
    type: object
    properties:
      Field:
        $ref: '#/definitions/SiteCustomerPersonFilterKeysModel'
      Criteria:
        type: string
        description: |
          Значение фильтрации
    required:
      - Field
      - Criteria

  SiteCustomerPersonInformationReadMultipleBody:
    type: object
    description: Передаваемый массив
    properties:
      filter:
        type: array
        description: Данные, которые необходимы для фильтрации при обращении к ERP
        items:
          $ref: '#/definitions/SiteCustomerPersonInformationFilterMultipleBody'
      setSize:
        type: integer
        default: 1
        description: Кол-во возвращаемых данных, 0 - без ограничения, -N возвратит последние N записей

  SiteCustomerPersonInformationCreateMultipleBody:
    type: object
    description: Передаваемый массив
    properties:
      SiteCustomerPersonInformation_List:
        type: array
        items:
          $ref: '#/definitions/SiteCustomerPersonInformationBody'
      #filter:
        #type: array
        #description: Данные, которые необходимы для фильтрации при обращении к ERP
        #items:
          #$ref: '#/definitions/SiteCustomerPersonInformationCreateMultipleParamsBody'
      #setSize:
        #type: integer
        #default: 1
        #description: Кол-во возвращаемых данных, 0 - без ограничения, -N возвратит последние N записей

  SiteCustomerPersonInformationFilterMultipleBody:
    type: object
    properties:
      Field:
        $ref: '#/definitions/PhoneNoFilterKeyModel'
      Criteria:
        type: string
        description: |
          Значение фильтрации
    required:
      - Field
      - Criteria

  #SiteCustomerPersonInformationCreateMultipleParamsBody:
    #type: object
    #properties:
      #SiteCustomerPersonInformation_List:
        #type: array
        #items:
          #$ref: '#/definitions/SiteCustomerPersonInformationBody'
    #required:
      #- SiteCustomerPersonInformation_List

  #SiteCustomerPersonFilterPrivateCustomerNoBody:
    #type: object
    #properties:
      #Field:
        #$ref: '#/definitions/PrivateCustomerNoFilterKeyModel'
      #Criteria:
        #type: string
        #description: |
          #Значение фильтрации
    #required:
      #- Field
      #- Criteria

  FieldBody:
    type: string
    default: ''
    description: |
      Ключ фильтрации
  CriteriaBody:
    type: string
    default: ''
    description: |
      Значение фильтрации
  
  LoadImageBody:
    type: object
    description: Данные, которые необходимы для фильтрации при обращении к ERP
    properties:
      type:
        type: integer
        description: |
          тип сущности для которой берётся картинка
          
          `0` - `Категория`
          
          `1` - `Подкатегория`
          
          `2` - `Товар`
        enum:
          - 0
          - 1
          - 2
      iDObject:
        type: string
        #default: ''
        description: |
         ID сущности для которой берётся картинка
          
          Для категории - 'ТОВАР;' + значение поля `Code`
          
          Для подкатегории - 'ТОВАР;' + значение поля `Code` + ';' + значение поля `Product_Group_Code`
          
          Для товара - значение поля `Code`
        
      cityCode:
        type: string
        default: ''
        description: |
          код города сущности если сущность зависит от города
      brandCode:
        $ref: '#/definitions/BrandValueFilterModel'
        #type: string
        #default: 'ДОСТАЕВСКИЙ'
        #description: |
          #брэнд сайта в системе ERP
      variantCode:
        type: string
        description: |
          вид картинки
        enum:
          - 'САЙТ'
          - 'ПРИЛ_АКТ'
          - 'ПРИЛ_НЕАКТ'

  GetOrderDeliveryInfoBody:
    type: object
    description: Параметры запроса
    properties:
     orderNo:
        $ref: '#/definitions/ErpOrderNoKeyModel'
     orderStatus:
        type: string
        default: ''
        description: Статус заказа заказа в системе ERP
     minToDeliver:
        type: integer
        default: 0
        description: Время доставки заказа в минутах
     courierFIO:
        type: string
        default: ''
        description: ФИО курьера
     courierPhone:
        type: string
        default: ''
        description: Телефон курьера
     courierPhoto:
        type: string
        format: base64
        default: ''
        description: Фотография курьера
    required:
      - orderNo
      - orderStatus
      - minToDeliver
      - courierFIO
      - courierPhone
      - courierPhoto

  GetOrderDeliveryInfoBodyResponse:
    type: object
    description: Параметры запроса
    properties:
     orderNo:
        $ref: '#/definitions/ErpOrderNoKeyModel'
     orderStatus:
        type: string
        default: ''
        description: Статус заказа заказа в системе ERP
     minToDeliver:
        type: integer
        default: 0
        description: Время доставки заказа в минутах
     courierFIO:
        type: string
        default: ''
        description: ФИО курьера
     courierPhone:
        type: string
        default: ''
        description: Телефон курьера
     courierPhoto:
        type: string
        format: base64
        default: ''
        description: Фотография курьера

  SiteCustomerPersonInformationBody:
    type: object
    properties:
      SiteCustomerPersonInformation:
        type: array
        items:
          $ref: '#/definitions/SiteCustomerPersonInformationModel'
  #-----------------------------------------------------------------------------
  #
  #   Responses
  #
  #-----------------------------------------------------------------------------
  
  BaseResponse:
    type: object
    description: Получаемый объект
    properties:
      HTTP status code:
        type: integer
        format: integer
        description: |
          HTTP Код ответа сервера 200 - успех, 50* - серверная ошибка
      Response body:
        type: string
        description: |
          Сообщение от сервера, если запрос успешно прошел, то приходит массив дублирующий запрос с автопроставленными значениями.
          Особенность ERP: не возвращает пустые поля в ответе.
          
  CitiesListResponse:
    type: object
    description: Список городов
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          data:
            type: array
            items:
                $ref: '#/definitions/CityModel'

  CategoriesListResponse:
    type: object
    description: Список категорий
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          data:
            type: array
            items:
                $ref: '#/definitions/CategoryModel'

  SubcategoriesListResponse:
    type: object
    description: Список подкатегорий
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          data:
            type: array
            items:
                $ref: '#/definitions/SubcategoryModel'

  ItemsListResponse:
    type: object
    description: Список товаров
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          data:
            type: array
            items:
                $ref: '#/definitions/ItemModel'

  ItemsCompositionListResponse:
    type: object
    description: Список состава товаров
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          data:
            type: array
            items:
                $ref: '#/definitions/ItemCompositeModel'

  ItemsIngredientsListResponse:
    type: object
    description: Список ингредиентов товаров
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          data:
            type: array
            items:
                $ref: '#/definitions/ItemIngredientsModel'

  ItemsToppingsListResponse:
    type: object
    description: Список топпингов товаров
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          data:
            type: array
            items:
                $ref: '#/definitions/ItemToppingsModel'

  ItemsTagsListResponse:
    type: object
    description: Список тегов товаров
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          data:
            type: array
            items:
                $ref: '#/definitions/ItemTagsModel'

  SitePreOrderLinesResponse:
    type: object
    description: Список тегов товаров
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          data:
            type: array
            items:
                $ref: '#/definitions/SitePreOrderLines_ListModel'

  SitePreOrderHeaderResponse:
    type: object
    description: Информация о заказе
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          data:
            type: array
            items:
                $ref: '#/definitions/SitePreOrderHeaderModel'

  SiteOrderCommentsResponse:
    type: object
    description: Информация о заказе
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          data:
            type: array
            items:
                $ref: '#/definitions/SiteOrderCommentsModel'

  SitePreOrderLinesListResponse:
    type: object
    description: Информация о заказе
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          data:
            type: array
            items:
                $ref: '#/definitions/SitePreOrderLines_ListModel'

  SitePreOrderLineComponentsListResponse:
    type: object
    description: Информация о заказе
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          data:
            type: array
            items:
                $ref: '#/definitions/SitePreOrderLineComponentsModel'

  SiteCustomerPersonReadMultipleResponse:
    type: object
    description: Информация о профиле пользователя
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        description: Передаваемый массив
        properties:
          SiteCustomerPerson_List:
            type: object
            description: Передаваемый массив
            properties:
              SiteCustomerPerson:
                $ref: '#/definitions/SiteCustomerPersonModel'

  SiteCustomerPersonInformationReadMultipleResponse:
    type: object
    description: Информация о профиле соц. сети пользователя
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        description: Передаваемый массив
        properties:
          SiteCustomerPersonInformation_List:
            type: array
            items:
                $ref: '#/definitions/SiteCustomerPersonInformationBody'

  #-----------------------------------------------------------------------------
  #
  #   Models
  #
  #-----------------------------------------------------------------------------

  SiteCustomerPersonFilterKeysModel:
    type: string
    description: |
      Ключ фильтрации
    enum:
      - 'Phone_No'
      - 'Private_Customer_No'

  PhoneNoFilterKeyModel:
    type: string
    default: 'Phone_No'
    description: |
      Ключ фильтрации `Номер телефона` без кода

  #PrivateCustomerNoFilterKeyModel:
    #type: string
    #default: 'Private_Customer_No'
    #description: |
      #Ключ фильтрации `Номер пользователя`

  WeightKeyModel:
    type: number
    format: double
    description: Вес

  Unit_PriceKeyModel:
    type: integer
    format: double
    description: Цена

  QuantityKeyModel:
    type: integer
    description: Количество

  ErpOrderNoKeyModel:
    type: string
    description: ID заказа в системе ERP вида `Z17-000000008949`

  BrandKeyFilterModel:
    type: string
    default: 'Brand_Code'
    description: |
      Ключ фильтрации `Код брэнда`

  BrandValueFilterModel:
    type: string
    description: брэнд сайта в системе ERP
    default: 'ДОСТАЕВСКИЙ'

  LineTypeValueModel:
    type: string
    description: |
      Тип Строки
      Если компонент базовый - т.е. "ингредиенты", то `BOM`.
      Если добавка, т.е. "топпинги" – `Add`.

  CustomerKeyModel:
    type: string
    description: тип клиента
    default: 'ФИЗ_ЛИЦО'

  CustomerValueModel:
    type: string
    description: тип клиента
    default: 'ФИЗ_ЛИЦО'

  CityModel:
    type: object
    properties:
      City_Code:
        type: string
        description: Код города (используется в качестве ID)
      Description:
        type: string
        description: Название
    
  CategoryModel:
    type: object
    properties:
      Description:
        type: string
        description: Название
      Item_Category_Code:
        type: string
        description: Код самой категории
      Code:
        type: string
        description: Код категории
      dataUpdateImage:
        type: string
        description: Дата последнего обновления картинки для сайта в формате `Y-m-d\TH:i:s.u\Z`
      dataUpdateImageMobActive:
        type: string
        description: Дата последнего обновления svg картинки `выбрана` для моб. приложения в формате `Y-m-d\TH:i:s.u\Z`
      dataUpdateImageMobNoActive:
        type: string
        description: Дата последнего обновления svg картинки `не выбрана` для моб. приложения в формате `Y-m-d\TH:i:s.u\Z`

  SubcategoryModel:
    type: object
    properties:
      Description:
        type: string
        description: Название
      Item_Category_Code:
        type: string
        description: Код самой верхней категории
      Product_Group_Code:
        type: string
        description: Код верхней категории
      Code:
        type: string
        description: Код подкатегории
      dataUpdateImage:
        type: string
        description: Дата последнего обновления картинки для сайта в формате `Y-m-d\TH:i:s.u\Z`

  ItemModel:
    type: object
    description: |
      Уникальный ID для целей импорта формируется из комбинации `Item_No` + `City_Code` + `Brand_Code` + `Customer_No`
    properties:
      Description:
        type: string
        description: Название
      SiteComponents1:
        type: string
        description: Текстовое описание№1 состава товара. Необходимо сконкатенировать с `SiteComponents2`
      SiteComponents2:
        type: string
        description: Текстовое описание№2 состава товара. Необходимо сконкатенировать с `SiteComponents1`
      Item_No:
        type: string
        description: Код товара
      City_Code:
        type: string
        description: Код города
      Brand_Code:
        type: string
        description: Код брэнда
      Customer_No:
        $ref: '#/definitions/CustomerKeyModel'
      Product_Group_Code:
        type: string
        description: Код категории
      Product_SubGroup:
        type: string
        description: Код подкатегории к которой привязан товар
      LastPrice:
        type: number
        format: double
        description: Старая цена
      TotalItemPrice:
        type: number
        format: double
        description: Цена использующаяся только для комбонаборов
      Item_Price:
        type: number
        format: double
        description: Цена товара
      DatePOPBegin:
        type: string
        description: |
          Дата начала периода популярности товара в формате `Y-m-d`
      DatePOPEnd:
        type: string
        description: |
          Дата конца периода популярности товара в формате `Y-m-d`
      POPAlways:
        type: boolean
        description: Товар популярен всегда?
      dataUpdateImage:
        type: string
        format: date-time
        description: Дата последнего обновления картинки для сайта в формате `Y-m-d\TH:i:s.u\Z`

  ItemCompositeModel:
    type: object
    description: |
      Уникальный ID товара к которым принадлежит состав товара - поле `No`
    properties:
      No:
        type: string
        description: Код товара
      Proteins:
        type: number
        format: double
        description: Белки
      Fats:
        type: number
        format: double
        description: Жиры
      Сarbohydrates:
        type: number
        format: double
        description: Углеводы
      Calorific_Value:
        type: number
        format: double
        description: кКал
      Net_Weight:
        type: number
        format: double
        description: Вес

  ItemIngredientsModel:
    type: object
    description: |
      ID товара к которому принадлежит ингредиент - поле `Parent_Item_No`
    properties:
      ItemDescription2:
        type: string
        description: Первичное название товара
      Description:
        type: string
        description: |
          Вторичное название товара. 
          Использовать его если значение поля `ItemDescription2` - пустое
      Parent_Item_No:
        type: string
        description: |
          Код товара к которому принадлежит ингредиент
      No:
        type: string
        description: |
          Уникальный `Код ингредиента`
      Quantity_per:
        type: number
        format: double
        description: Вес
      Unit_of_Measure_Code:
        type: string
        description: Единица измерения
      No_remove:
        type: boolean
        description: Ингредиент может быть исключён из товара

  ItemToppingsModel:
    type: object
    description: |
      ID товара к которому принадлежит ингредиент - поле `Item_No`
      
      Уникальный ID для целей импорта `LineNo`
    properties:
      LineNo:
        type: integer
        format: double
        description: |
          ID топпинга. 
      Item_No:
        type: string
        description: |
          Код товара к которому принадлежит топпинг
      City_Code:
        type: string
        description: |
          Код города
      Item_Description2:
        type: string
        description: |
          Название топпинга
      Product_Group_Code:
        type: string
        description: |
          Код категории к которой принадлежит топпинг
      Unit_of_Measure_Code:
        type: string
        description: |
          Единица измерения
      Quantity:
        type: integer
        format: double
        description: |
          Вес в граммах(необходимо умножить на 1000)
      Unit_Price:
        $ref: '#/definitions/Unit_PriceKeyModel'
        #type: integer
        #format: double
        #description: |
          #Цена

  ItemTagsModel:
    type: object
    description: |
      Уникальный ID для целей импорта формируется из комбинации `TableID` + `Code` + `Label`
    properties:
      TableID:
        type: integer
        description: таблица в которой располагаются теги
      Code:
        type: string
        description: |
          ID товара к которому принадлежит ингредиент
      Label:
        type: string
        description: |
          Название товара

  LoadImageBodyResponse:
    type: object
    properties:
      return_value:
        type: string
        format: base64
        description: Картинка закодированная в base64

  SitePreOrderLines_ListModel:
    type: object
    description: |
      Возвращаемая информация о строках заказа
    properties:
      Document_No:
        type: string
        description: ID заказа в ERP(возвращается из заголовка заказа)
      Line_No:
        type: integer
        description: |
          Строка Но.(необходимо умножить на 1000)
      Item_No:
        type: string
        description: Товар Но. из ERP вида `ITEM000000000029`
      Description:
        type: string
        description: Название товара
      Weight:
        $ref: '#/definitions/WeightKeyModel'
        #type: number
        #format: double
        #description: Вес
      Price:
        type: number
        format: double
        description: Цена
      Quantity:
        $ref: '#/definitions/QuantityKeyModel'
        #type: integer
        #description: Количество
      Total_Amount:
        $ref: '#/definitions/QuantityKeyModel'
        #type: number
        #format: double
        #description: Итоговая сумма
      Discount_Amount:
        type: number
        format: double
        description: Сумма скидки, пример товар стоил `500` Р а после акции стал `333` => сумма скидки = `167` Р
      Disc_Description:
        type: number
        format: double
        description: Скидка текстом, пример `3 по 999`

  SitePreOrderLineComponentsModel:
    type: object
    description: |
      Возвращаемая информация о строках заказа
    properties:
      PreOrder_No:
        $ref: '#/definitions/ErpOrderNoKeyModel'
        #type: string
        #description: ID заказа в ERP(возвращается из заголовка заказа)
      Line_Type:
        $ref: '#/definitions/LineTypeValueModel'
      Item_No:
        type: string
        description: Товар Но. из ERP вида `ITEM000000000029`
      Description:
        type: string
        description: Название
      Weight:
        $ref: '#/definitions/WeightKeyModel'
        #type: number
        #format: double
        #description: Вес
      Unit_of_Measure_Code:
        type: string
        description: Единица измерения
      Quantity:
        $ref: '#/definitions/QuantityKeyModel'
        #type: integer
        #description: Количество
      Unit_Price:
        $ref: '#/definitions/Unit_PriceKeyModel'
        #type: integer
        #format: double
        #description: |
          #Цена
      PreOrder_Line_No:
        type: integer
        description: |
          Строка Но - принадлежность к какому товару по номеру строки товара.
          
          (необходимо умножить на 1000)

  SiteOrderCommentsModel:
    type: object
    description: |
      Возвращаемая информация о заголовке заказа
    properties:
      PreOrderNo:
        $ref: '#/definitions/ErpOrderNoKeyModel'
      Description:
        type: string
        description: Комментарий к заказу
      Grade:
        type: string
        description: Оценка заказа 0-5
        enum:
          - '_x0030_'
          - '_x0031_'
          - '_x0032_'
          - '_x0033_'
          - '_x0034_'
          - '_x0035_'
    required:
      - PreOrderNo

  SitePreOrderHeaderModel:
    type: object
    description: |
      Возвращаемая информация о заголовке заказа
    properties:
      Name:
        type: string
        description: Наименование клиента
      Address:
        type: string
        description: Адрес доставки
      Customer_Comment:
        type: string
        description: Комментарий к адресу пользователя
      Source:
        type: string
        description: Источник заказа(site|app)
      Delivery_Date_Time:
        type: string
        format: date-time
        description: Плановое дата/время доставки
      Payment_Type:
        type: string
        description: | 
          Способ оплаты: 
          
          `cash` - Наличными
          
          `terminal` - картой курьеру
          
          `online` - онлайн оплата
          
          `wopay` - без оплаты (обычный клиент не может такое выбрать)
      Number_of_persons:
        type: integer
        description: Кол-во персон
      Order_Comment:
        type: string
        description: Примечания к заказу
      CallBack:
        type: boolean
        description: Обратный звонок - Ставим, если требуется обратный звонок
      Pre_order:
        type: boolean
        description: Предзаказ - Ставим, если предзаказ
      Promo_Code:
        type: string
        description: Значение промокода
      Amount:
        type: number
        format: double
        description: Сумма заказа. Общая стоимость заказа без акций с учетом доставки.
      Odd_Amount_From:
        type: number
        format: double
        description: Сдача с суммы
      Odd_Amount:
        type: number
        format: double
        description: Сдача составит
      Create_Date_Time:
        type: string
        format: date-time
        description: Дата и время создания заказа (нажатия на сайте / в приложении кнопки Принять).
      Brand_Code:
        type: string
        description: Брэнд
      Total_Amount:
        type: number
        format: double
        description: Итого сумма.Сумма заказа с учетом скидок
      Prepayment:
        type: boolean
        description: Предоплата
      House:
        type: string
        description: Дом
      Building:
        type: string
        description: Корпус
      Apartment:
        type: string
        description: Квартира
      Intercom:
        type: string
        description: Домофон
      Staircase:
        type: string
        description: Парадная
      City_Code:
        type: string
        description: Код Города
      #Private_Customer_No:
        #type: string
        #default: ''
        #description: Код клиента
      #Customer_No:
        #type: string
        #default: ''
        #description: Код корпоративного клиента
      PhoneCode:
        type: string
        description: Код телефона

  SiteCustomerPersonModel:
    type: object
    description: |
      Возвращаемая информация базовом профиле пользователя
    properties:
      Private_Customer_No:
        type: string
        description: Уникальный No пользователя в системе ERP
      LastName:
        type: string
        description: Фамилия
      FirstName:
        type: string
        description: Имя
      MiddleName:
        type: string
        description: Отчество
      BirthDate:
        type: string
        format: date-time
        description: Дата рождения
      BirthCity:
        type: string
        description: Родной город
      Phone_No:
        type: string
        description: Номер телефона без кода
      Sex:
        type: integer
        description: Пол (0 - не указан, 1 - мужчина, 2 - женщина)
      Occupation:
        type: string
        description: Род занятий
      Children:
        type: integer
        description: Дети (0 - нет, 1 - да)
      MaritalStatus:
        type: integer
        description: Семейный статус (0 - не женат, 1 - женат)
      Books:
        type: string
        description: Книги
      ShortName:
        type: string
        description: Короткое имя
      Interests:
        type: string
        description: Интересы
      Email:
        type: string
        description: Почта
      Doing:
        type: string
        description: Деятельность
      PhoneConfirmed:
        type: boolean
        description: Телефон подтверждён
      PushNotifications:
        type: boolean
        description: Пользователь может получать push уведомления
      SMSТNotifications:
        type: boolean
        description: Пользователь может получать СМС рассылку
      Avatar:
        type: boolean
        description: Аватар пользователя

  SiteCustomerPersonInformationModel:
    type: object
    description: |
      Возвращаемая информация профиля соц. сетей пользователя
    properties:
      Key:
        type: string
        default: ''
        description: Поле key в системе ERP - оставить пустым
      CustomerPersonNo:
        type: string
        description: Уникальный No пользователя в системе ERP
      InformationType:
        type: integer
        description: |
          Тип информации, которая хранится в данной строке 
          
          0 - телефон
          
          1 - социальная сеть
          
          2 - карьера
          
          3 - ВУЗ
        enum:
          - 0
          - 1
          - 2
          - 3
      PhoneNumber:
        type: string
        description: Номер телефона без кода
      PhoneCode:
        type: string
        description: Код телефона
      SocialNetwork:
        type: string
        description: |
          Определяет, что за социальная сеть 
          
          IG -Instagramm
          
          FB - Facebook
          
          VK - Вконтакте
          
          OK - Одноклассники
        enum:
          - IG
          - FB
          - VK
          - OK
      SocialNetworkID:
        type: string
        description: ИД клиента в данной социальной сети
      QtyPhotos:
        type: integer
        description: Количество фотографий в данной социальной сети
      QtyFriends:
        type: integer
        description: Количество друзей в данной социальной сети
      QtySubscribers:
        type: integer
        description: Количество подписчиков в данной социальной сети
      CompanyName:
        type: string
        description: Название компании
      UniversityName:
        type: string
        description: Название ВУЗа